[submodule "protobufs"]
	path = protobufs
	url = https://github.com/meshtastic/protobufs.git
[submodule "meshtestic"]
	path = meshtestic
	url = https://github.com/meshtastic/meshTestic
[submodule "src/lodb"]
	path = src/lodb
	url = git@github.com:MeshEnvy/lodb.git
