[submodule "protobufs"]
	path = protobufs
	url = https://github.com/meshtastic/protobufs.git
[submodule "meshtestic"]
	path = meshtestic
	url = https://github.com/meshtastic/meshTestic
[submodule "community/lodb"]
	path = community/lodb
	url = git@github.com:MeshEnvy/lodb.git
[submodule "community/lobbs"]
	path = community/lobbs
	url = git@github.com:MeshEnvy/lobbs.git
